body{
    background-color: #FAFAFA;
}
.header{
    background-color:#FCFCFC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:103px;
    
}
.circle {
    height: 10px;
    width: 10px;
    background-color: #6294A2;
    border-radius: 50%;
    display: inline-block;
  }
.header-div{
      display: flex;
      margin-left:124px;
  }
.nav-ul {
      display: flex;
  }
.header-nav{
      margin-right: 115px;;
  }
.li-margin{
    margin-right:60px;
}
.div-p1{
    margin-left:15px;
    padding-right: 40px;
    border-right-style: solid;
    border-width: 1px;
    border-color: #F0F0F0;
    text-transform: uppercase;
}
.bold{
    font-weight: bold;
}
.div-p2{
    margin-left:40px;
}
.backgroundImage{
    /* ამით ვცდილობდი გაკეთებას მაგრამ არაფერი გამოვიდა */
    background-image:linear-gradient(#183C77, #36889C),url("../img/image1.jpg");
    background-repeat: no-repeat;
    height:270px;
    margin: 0 auto;
    width:1318px;
    margin-top:54px;
}
.header-p1{
    margin:57px 0 0 57px;
}
.header-p2{
    margin:22px 0 0 57px;
}
.header-p3{
    margin:18px 0 0 57px;
}
.header-p4{
    text-align: center;
}
.button{
    width:186px;
    height:44px;
    background-color: #6294A2;
    border-radius: 22px;
    margin:22px 0 0 57px;
}
.button1{
    width:186px;
    height:44px;
    background-color: #6294A2;
    border-radius: 22px;
    margin:45px 0 0 40px;
}
.button2{
    width:186px;
    height:44px;
    background-color: #6294A2;
    border-radius: 22px;
    margin:37px 0 0 40px;
}
.container{
    display: flex;
    margin: 0 auto;
    width:1318px;
    margin-top:60px;
}
.container-div{
    width:862px;
    height:585px;
    border-radius:7px;
    background-color:#FCFCFC;
    margin:0 auto;
    
}
.container-div-div{
    display: flex;
    margin: 47px 0 0 44px;
    height:114px;
    width: 862px;
}

.dFlex{
    display:flex;
}

.img{
    width:171px;
    margin:0 37px 38px 44px;
}
.text3{
    margin-top: 17px
}
.bck{
    background-image:linear-gradient(#183C77, #36889C),url("../img/image2.jpg");
    background-repeat: no-repeat;
    width:400px;
    height:268px;
    border-radius: 7px;
    margin:0 0 50px 50px;
}
.text4{
    margin:45px 0 0 40px;
}
.text5{
    margin:21px 0 0 40px; 
}
.text6{
    margin:15px 0 0 40px;
}
.text7{
    margin:37px 0 0 40px;
}
.text8{
    margin:33px 0 0 40px; 
}
#text9{
    margin:37px 0 0 40px;
}
.last-div{
    background-color: #FCFCFC;
    width:400px;
    margin-left:50px;
}
.div2{
    display: flex;
    margin: 0 auto;
    width:1318px;
    height:470px;
    margin-top: 60px;
}
.text10{
    margin:36px 0 0 40px;
}
.text11{
    margin:36px 0 0 40px;
}
.text12{
    margin:12px 0 0 40px;
}
.text13{
    margin:12px 0 0 40px;
    width:290px;
}
.backgroundImage2{
    background:url("../img/image.jpg");
    width:605px;
    margin-left: 357px;
}
.text14{
    margin:400px 0 0 40px
}
.articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
}
.img3{
    width:377px;
    height:156px;
    margin-top:90px;
}
.div3{
    margin: 0 auto;
    width:1318px;
    background-color: #FCFCFC;
}
.text15{
    margin:37px 0 0 40px;
}
.text16{
    margin-top:20px;
}
footer{
    display:flex;
    margin-top: 60px;
}
.text17{
    margin:50px 0 0 98px;
}
.text18{
    margin:20px 0 0 98px;
}
.footerDiv{
    width:370px;
}
.text19{
    margin: 50px 0 0 300px;
}
.text20{
    margin:10px 0 0 300px;
}
.text21{
    margin:50px 0 0 104px;
}
.text22{
    margin:10px 0 0 104px;
}
.text23{
    margin:50px 0 0 150px;
}
.text24{
    margin:10px 0 0 150px;
}









